h1, h2, h3, h4, h5, h6 {
  border: none;
}

h3, h4, h5, h6 {
  font-weight: bold;
}

div#content {
  background-image: none;
  border: none;
  margin-left: 0;
  min-height: 400px;
  position: relative;
}

#WEcontentcontainer {
  padding-bottom: 0;
}

.eXe-iDevice,
.WEidevice,
div.weQuiz {
  background-color: #E4EEFB !important;
  border: none !important;
  border-radius: 5px;
}

.WEPoll label,
.weQuiz label {
  display: inline;
  font-weight: normal;
  margin-left: 0.5em;
}

.eXe-iDevice table,
.eXe-iDevice div {
  background-color: #E4EEFB !important;
}

.eXe-iDevice h1 {
  color: darkblue !important;
}

div#footer {
  background-image: none;
  margin-left: 0;
  margin: auto;
}

html, body {
  height: 100%;
}

body {
  padding-top: 50px; /* fixed top navbar */
}

#bodyInner {
  min-height: 100%;
  position: relative;
}

#bodyContent {
  font-size: 12pt;
  margin-bottom: 2em;
}

#weBottomNav {
  /* position: absolute;
  width: 100%;
  bottom: 0; */
}

.wePrev {
  display: inline;
  float: left;
}

.weNext {
  display: inline;
  float: right;
  margin-right: 2em;
}

.panel-primary {
  border: none;
  margin-top: 1em;
}

.navbar-inverse {
  background-image: none;
  background-color: #00006b; /* OP blue: #004aab;*/
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav a:hover,
.navbar-inverse a.dropdown-toggle {
  background-color: #00006b;
}

.navbar-inverse .navbar-nav > .active > a {
  background-color: #00006b;
  background-image: none;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #00006b;
}

.modal .row {
  margin-top: 15px;
}

#footer #footer-icons {
  float: left;
}

.ilogo {
  float: right;
}

.WEbox-header {
  font-weight: bold;
}

#WEcourseForm td {
  padding: 0.5em;
}

p.noarticle {
  font-style: italic;
  font-weight: lighter;
}

.WEfeedback.collapsible>tbody>tr>th>span {
  float: left !important;
  width: auto !important;
  margin-right: 1em;
}

.collapseBracket {
  display: none;
}

iframe {
  border: none;
}

#WEregistrationIFrame {
  display: none;
}
#weUser:hover {
  text-decoration: none;
}

.panel-heading a:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    color: grey;
}
.panel-heading a.collapsed:after {
    content: "\e080";
}

a.btn:visited {
    color: white;
}

#scanpagetoggle {
    cursor: pointer;
}
